html {
background-color:  #e0e4e0 !important;
  }
body {
padding-top: 10px;
font-size: 16px;
background: transparent;
}
    ul li {
  color: limegreen;
  list-style-type: disc;
  margin-left: 2em;
  font-size: 20px;
    }


ul li span {
  color: black;
  font-size: 12 px;
}

    #chatWindow{ display:none;}

 .whisper{
  /* color:	#0e492d;*/
   color: yellow;
   font-style:italic;
   font-weight: normal;
 }

 .error{ color:#800000;}

.blueChatBox{
  border-radius: 10px;
    padding: 20px 0px;
    background: #45aed9 url(../images/chatBox.png) no-repeat center 15px;
    color: #fff;
    min-height: 400;
    max-height: 400;
    overflow-y: auto;}

.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 1px solid #c2e1f5;
  padding: 3px;
  border-radius: 2px;
  margin-right: 20px;
  margin-left: 10px;
}

#chat .msg{margin-bottom: 20px;}
.arrow_box:after, .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #88b7d5;
  border-width: 15px;
  margin-top: -15px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #c2e1f5;
  border-width: 16px;
  margin-top: -16px;
}

.loginBox{background: #45aed9; width:400px; padding: 15px; box-sizing: border-box; margin: 20px auto; border-radius: 40px;}